# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

[Rr]esources/maps/local/*
cocos2d/cocos/network/proj.win32/*
cocos2d/cocos/platform/android/*
bin/debug/*
proj.win32/*
proj.win32/Debug.win32/*
proj.android/*
*.tlog
*.lastbuildstate
*.idb

cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/*
proj.ios_mac/jumpproj.xcodeproj/project.xcworkspace/xcuserdata/*
proj.ios_mac/jumpproj.xcodeproj/xcuserdata/*