# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

[Rr]esources/maps/*
cocos2d/cocos/network/proj.win32/*
cocos2d/cocos/platform/android/*
bin/debug/*
proj.win32/*
proj.win32/Debug.win32/*
proj.android/*
*.tlog
*.lastbuildstate
*.idb
